<div layout="column" ng-cloak>
    <md-toolbar class="md-primary light">
        <div class="md-toolbar-tools">
            <!-- <h2 flex md-truncate class="title">
                {{dados.nome}}
            </h2> -->
            <h2 flex md-truncate>
                <img src="../images/logo-ceda.png" alt="dados.nome" width="200">
            </h2>
            <md-button class="md-fab md-mini md-hue-3 md-green" aria-label="fullscreen" ng-click="toogleFullscreen()">
                <md-icon>{{fullscreen ? 'fullscreen' : 'fullscreen_exit'}}</md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-hue-3 md-green" aria-label="fullsettingsscreen" ng-click="config()">
                <md-icon>settings</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex layout-padding id="layout">
        <div layout-gt-sm="row">
            <div id="video">
                <iframe width="800" height="400" src="{{dados.urlPlaylist}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="senha">
                <h1 id="tipo" class="no-margin" ng-bind="senha.tipo"></h1>
                <h1 id="paciente" class="no-margin fa-blink" ng-bind="senha.paciente"></h1>
                <h1 id="local" class="no-margin fa-blink" ng-bind="senha.local"></h1>
            </div>
        </div>
        <div layout-gt-sm="row" class="blue-70 min-top">
            <div id="noticias">
                <marquee direction="scroll">
                    <p ng-bind="noticia"></p>
                </marquee>
            </div>
        </div>
        <div layout-gt-sm="row" id="historico">
            <h2>Histórico de Chamados</h2>
        </div>
        <div layout-gt-sm="row" class="blue-70">
            <div ng-repeat="historico in senhasEmitidas">
                <div class="senhaHistorico">
                    <h2 class="no-margin light-md" ng-bind="historico.paciente"></h2>
                    <h3 class="no-margin yellow uppercase" ng-bind="historico.local"></h3>
                </div>
            </div>
        </div>

    </md-content>

</div>